# 안녕하세요^^ 
## '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# 데이터 분석부터 먼저 시작해보겠습니다.
## "구별 업종 등록 데이터" 를 확인해 보도록 하겠습니다

In [1]:
# 필요 라이브러리부터 설치합니다.
%pip install pandas seaborn

Requirement already satisfied: pandas in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: seaborn in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\wldud\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## 기본전제
* 처음에 제공되는 기본/추가 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* business_type.csv

[데이터 소개]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[변수 소개]
* 다수 업종 상위 1~10

---

# 1.데이터 불러오기
## 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터라고 할 수 있습니다.
+ KeyPoint : 불러오고자 하는 데이터에 따라 자유롭게 변수로 지정할 수 있다.

###  데이터 프레임을 불러오고 변수로 저장(여기서는 CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 파이썬의 모든 객체를 파일로 저장할 수 있는 방법으로 DataFrame,List,Dict 등 모든 객체 저장 가능(특히 sklearn라이브러리를 통해 모델을 학습시키고, 저장할 때 많이 사용)

## 기본전제
* 처음에 제공되는 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* 1.4 business_type.csv

[데이터 소개]
* 서울시 업종 등록 데이터

#### [실습문제1] 데이터 로딩
* '1.4 business_type.csv'파일을 'seoul_business' 변수에 저장하고 그 데이터를 확인하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * UTF-8 인코더를 사용해 주세요

In [2]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
import pandas as pd
seoul_business = pd.read_csv('1.4 business_type.csv', sep=",", encoding = "utf-8")

In [3]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_business.shape

(451, 22)

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'seoul_moving' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [4]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business.head()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220

In [5]:
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   자치구           451 non-null    object
 1   동             451 non-null    object
 2   다수업종 상위10     451 non-null    object
 3   다수업종 상위10.1   451 non-null    object
 4   다수업종 상위10.2   451 non-null    object
 5   다수업종 상위10.3   451 non-null    object
 6   다수업종 상위10.4   451 non-null    object
 7   다수업종 상위10.5   451 non-null    object
 8   다수업종 상위10.6   451 non-null    object
 9   다수업종 상위10.7   451 non-null    object
 10  다수업종 상위10.8   451 non-null    object
 11  다수업종 상위10.9   451 non-null    object
 12  다수업종 상위10.10  451 non-null    object
 13  다수업종 상위10.11  451 non-null    object
 14  다수업종 상위10.12  451 non-null    object
 15  다수업종 상위10.13  451 non-null    object
 16  다수업종 상위10.14  451 non-null    object
 17  다수업종 상위10.15  451 non-null    object
 18  다수업종 상위10.16  451 non-null    object
 19  다수업종 상위10.17  451 non-null    object
 20  다수업종 상위10.18  451 non-null    object
 21  다수업종 상위10.19  451 non-null    object
dtypes: object(22)
memory usage: 77.6+ KB

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business.describe()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
count,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
unique,27,425,226,280,176,305,177,180,142,205,...,131,239,69,147,127,189,113,222,107,230
top,송파구,소계,71,11,24,104,56,56,40,54,...,13,16,-,-,18,20,4,42,17,45
freq,28,25,7,7,11,6,8,9,11,9,...,18,8,82,82,14,10,15,10,16,9

#### [실습문제3] 데이터 확인 및 처리

* 데이터를 보았을때, 어느 데이터를 가져와야 할지 생각 해 봅시다.

In [7]:
seoul_business = seoul_business.loc[(seoul_business['동'] == '합계') | (seoul_business['동'] == '소계'),]
seoul_business.drop('동', axis=1, inplace=True)
seoul_business.columns = ['자치구', '택시운송업 사업체수', '택시운송업 종사자수', '한식 일반 음식점업 사업체수', '한식 일반 음식점업 종사자수', '용달 화물 자동차 운송업 사업체수', '용달 화물 자동차 운송업 종사자수',
                          '부동산 중개 및 대리업 사업체수', '부동산 중개 및 대리업 종사자수', '두발미용업 사업체수', '두발미용업 종사자수', '커피전문점 사업체수', '커피전문점 종사자수', '남녀용 겉옷 및 셔츠 도매업 사업체수', '남녀용 겉옷 및 셔츠 도매업 종사자수',
                          '기타주점업 사업체수', '기타주점업 종사자수', '일반 교과 학원 사업체수', '일반 교과 학원 종사자수', '한식 육류 요리 전문점 사업체수', '한식 육류 요리 전문점 종사자수']
seoul_business.reset_index(drop=True, inplace=True)

for column in seoul_business.columns[1:]:
    seoul_business[column] = seoul_business[column].str.replace(',','').astype('int')

In [8]:
seoul_business.drop(['남녀용 겉옷 및 셔츠 도매업 사업체수','남녀용 겉옷 및 셔츠 도매업 종사자수'], axis=1, inplace=True)

In [9]:
business_list = ['택시운송업 사업체수','한식 일반 음식점업 사업체수','용달 화물 자동차 운송업 사업체수','부동산 중개 및 대리업 사업체수','두발미용업 사업체수','커피전문점 사업체수','기타주점업 사업체수','일반 교과 학원 사업체수','한식 육류 요리 전문점 사업체수']
people_list = ['택시운송업 종사자수','한식 일반 음식점업 종사자수','용달 화물 자동차 운송업 종사자수','부동산 중개 및 대리업 종사자수','두발미용업 종사자수','커피전문점 종사자수','기타주점업 종사자수','일반 교과 학원 종사자수','한식 육류 요리 전문점 종사자수']

seoul_business['총 사업체 수'] = seoul_business.loc[:,business_list].sum(axis=1)
seoul_business['총 종사자 수'] = seoul_business.loc[:,people_list].sum(axis=1)
seoul_business['운송업 사업체수'] = seoul_business.loc[:,'용달 화물 자동차 운송업 사업체수'] + seoul_business.loc[:,'택시운송업 사업체수']
seoul_business['음식점 사업체수'] = seoul_business.loc[:,'한식 육류 요리 전문점 사업체수'] + seoul_business.loc[:,'한식 일반 음식점업 사업체수']
seoul_business['운송업 종사자수'] = seoul_business.loc[:,'용달 화물 자동차 운송업 종사자수'] + seoul_business.loc[:,'택시운송업 종사자수']
seoul_business['음식점 종사자수'] = seoul_business.loc[:,'한식 육류 요리 전문점 종사자수'] + seoul_business.loc[:,'한식 일반 음식점업 종사자수']
seoul_business['야간상주지 수치'] = seoul_business.loc[:,'부동산 중개 및 대리업 사업체수'] + seoul_business.loc[:,'일반 교과 학원 사업체수'] + seoul_business.loc[:,'두발미용업 사업체수'] + seoul_business.loc[:,'부동산 중개 및 대리업 종사자수'] + seoul_business.loc[:,'일반 교과 학원 종사자수'] + seoul_business.loc[:,'두발미용업 종사자수']
seoul_business['주간상주지 수치'] = seoul_business.loc[:,'커피전문점 사업체수'] + seoul_business.loc[:,'한식 일반 음식점업 사업체수'] + seoul_business.loc[:,'한식 육류 요리 전문점 사업체수'] + seoul_business.loc[:,'커피전문점 종사자수'] + seoul_business.loc[:,'한식 일반 음식점업 종사자수'] + seoul_business.loc[:,'한식 육류 요리 전문점 종사자수']
seoul_business['기타 수치'] = seoul_business.loc[:,'기타주점업 사업체수'] + seoul_business.loc[:,'커피전문점 사업체수'] + seoul_business.loc[:,'한식 일반 음식점업 사업체수'] + seoul_business.loc[:,'한식 육류 요리 전문점 사업체수'] + seoul_business.loc[:,'기타주점업 종사자수'] + seoul_business.loc[:,'커피전문점 종사자수'] + seoul_business.loc[:,'한식 일반 음식점업 종사자수'] + seoul_business.loc[:,'한식 육류 요리 전문점 종사자수']
seoul_business['야간상주지 판단 사업체 비율'] = (seoul_business.loc[:,'부동산 중개 및 대리업 사업체수'] + seoul_business.loc[:,'일반 교과 학원 사업체수'] + seoul_business.loc[:,'두발미용업 사업체수']) / seoul_business['총 사업체 수']

seoul_business.drop(['용달 화물 자동차 운송업 사업체수','용달 화물 자동차 운송업 종사자수','택시운송업 사업체수','택시운송업 종사자수','한식 육류 요리 전문점 사업체수','한식 육류 요리 전문점 종사자수',
                     '한식 일반 음식점업 사업체수','한식 일반 음식점업 종사자수'],axis=1,inplace=True)

In [10]:
seoul_business.head()

,자치구,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,두발미용업 사업체수,두발미용업 종사자수,커피전문점 사업체수,커피전문점 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,...,총 사업체 수,총 종사자 수,운송업 사업체수,음식점 사업체수,운송업 종사자수,음식점 종사자수,야간상주지 수치,주간상주지 수치,기타 수치,야간상주지 판단 사업체 비율
0,합계,24013,42636,18080,36214,16255,57322,13339,31371,11911,...,199602,469209,75670,40334,106057,144836,183627,258747,303457,0.270558
1,종로구,549,889,261,480,948,3613,537,1413,110,...,5223,15532,833,1985,861,7894,2671,14440,16390,0.176144
2,중구,576,1152,339,816,869,3542,381,982,57,...,4783,15770,530,2031,568,8535,3115,14977,16340,0.203220
3,용산구,791,1214,366,777,634,2076,487,1332,104,...,4410,11132,871,1157,989,4171,3825,8038,9857,0.285941
4,성동구,801,1453,489,851,547,1859,285,621,258,...,6008,14296,2272,1356,3688,4330,5346,8092,8998,0.257656

In [11]:
# 해당 데이터프레임을 'df_seoul_moving.csv' 파일로 저장하세요
seoul_business.to_csv("df_seoul_business.csv", index = False)

In [12]:
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   자치구                26 non-null     object
 1   부동산 중개 및 대리업 사업체수  26 non-null     int32
 2   부동산 중개 및 대리업 종사자수  26 non-null     int32
 3   두발미용업 사업체수         26 non-null     int32
 4   두발미용업 종사자수         26 non-null     int32
 5   커피전문점 사업체수         26 non-null     int32
 6   커피전문점 종사자수         26 non-null     int32
 7   기타주점업 사업체수         26 non-null     int32
 8   기타주점업 종사자수         26 non-null     int32
 9   일반 교과 학원 사업체수      26 non-null     int32
 10  일반 교과 학원 종사자수      26 non-null     int32
 11  총 사업체 수            26 non-null     int64
 12  총 종사자 수            26 non-null     int64
 13  운송업 사업체수           26 non-null     int32
 14  음식점 사업체수           26 non-null     int32
 15  운송업 종사자수           26 non-null     int32
 16  음식점 종사자수           26 non-null     int32
 17  야간상주지 수치           26 non-null     int32
 18  주간상주지 수치           26 non-null     int32
 19  기타 수치              26 non-null     int32
 20  야간상주지 판단 사업체 비율    26 non-null     float64
dtypes: float64(1), int32(17), int64(2), object(1)
memory usage: 2.7+ KB

---

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [14]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'Malgun Gothic'
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [실습문제4] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---